if error
    p #{error}
    a(href="/ORM/students") Retour à la liste
else
    h2 #{student.firstname}
    p agé(e) de #{student.age} ans.

    form(action="", method="post")
        label(for="age") Modifier votre age:
        input(type="number" name="age" id="age") 
        button(type="submit") Valider 

    a(href="/ORM/students") Retour à la liste


    

